.App {
	text-align: center;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

.App-link {
	color: #61dafb;
}

html {
	position: relative;
	min-height: 100vh;
}

footer {
	margin-top: auto;
}

nav {
	background-color: black !important;
}

.page-footer {
	background-color: black !important;
}

.btn-large {
	margin-left: 10px;
	margin-right: 10px;
}
