.App {
	text-align: center;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

.App-link {
	color: #61dafb;
}

html {
	position: relative;
	min-height: 100vh;
}

footer {
	margin-top: auto;
}

#contact-form {
	margin-bottom: 100px;
}
